<DOCTYPE!>
<html ng-app='myApp'>
<head>
	<script src="https://code.angularjs.org/1.3.10/angular.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="https://code.angularjs.org/1.2.18/angular-animate.min.js"></script>
</head>
<body ng-controller='myCtrl'>
	<div class='main'>
		<div class='header'>
			<div class='left'>
				<div class='smileyImage'>
					<img src='smiley.PNG' />
				</div>
			</div>
			<div class='right'>
				<img src='madlibs' />
				<h1>Automate This!</h1>
			</div>
		</header>
		<section class='input' ng-show="showInputBoxes">
			<form name="madLibsForm" novalidate>
				<label for="male">Male</label>
				<input type="radio" name="gender" ng-model="data.gender" value="he" required/>
				<label for="female">Female</label>
				<input type="radio" name="gender" ng-model="data.gender" value="she" required/><br>
				<h1>Provide the following words:</h1>
				<div class="row">
					<input type="text" ng-model="data.name" placeholder="Name" required>
					<input type="text" ng-model="data.dirtyTask" placeholder="Dirty Task" required>
					<input type="text" ng-model="data.obnoxiousCelebrity" placeholder="Obnoxious Celebrity" required>
				</div>
				<div class="row">
					<input type="text" ng-model="data.jobTitle" placeholder="Job Title" required>
					<input type="text" ng-model="data.celebrity" placeholder="Celebrity" required>
					<input type="number" ng-model="data.hugeNumber" placeholder="Huge Number" required>
				</div>
				<div class="row">
					<input type="text" ng-model="data.tediousTask" placeholder="Tedious Task" required>
					<input type="text" ng-model="data.uselessSkill" placeholder="Useless Skill" required>
					<input type="text" ng-model="data.adjective" placeholder="Adjective" required>
				</div>
				<br />
				<hr />
				<div class="errorMessages">
					<p ng-if="submitted && madLibsForm.$error.required">Make sure all fields are filled out!</p>
					<p ng-if="submitted && madLibsForm.gender.$error.required">Choose a gender!</p>
				</div>
				<button class='generateButton' ng-click="hideInputShowOutput(); show='true'">Generate my Mad Lib</button>
			</form>
		</section>
		<section class='output' ng-show="showMadLibs" ng-app="ngAnimate" ng-init="show=false" >
			<p class="paragraphs" ng-if="show">{{data.name}} was a {{data.jobTitle}} who loved technology. Although {{data.gender}} loved parts of the job, {{data.gender}} absolutely hated {{data.tediousTask}} and {{data.dirtyTask}}. So, {{data.name}} met with a life mentor, {{data.celebrity}}, who said to study {{data.uselessSkill}} at a university. The local University didn't offer a course on {{data.uselessSkill}} so {{data.gender}} studied hardware instead.</p>
			<p class="paragraphs" ng-if="show">What a great decision! With these new skills, {{data.name}} built a(n) {{data.adjective}} robot named {{data.obnoxiousCelebrity}} that not only loved {{data.dirtyTask}} but did it {{data.hugeNumber}} times faster.</p>
			<br />
			<hr />
			<button class='newGameButton' ng-click="startNewGame()">New Game</button>
		</section>
<!-- 		<div ng-init="show=false" ng-app="ngAnimate">
			<button ng-click="show=!show">Toggle content</button>
			<div ng-if="show" class="content">Look at my lovely content</div>
		</div> -->
	</div>
</body>
</html>